:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --secondary-color: rgba(245, 244, 250, 1);
  --text-white-color: rgba(255, 255, 255, 1);
}

body {
  background-color: var(--text-white-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding: 0;

  margin-bottom: 50px;
}

.section__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section .name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
}

/* logo */

.logo {
  color: rgba(0, 0, 0, 1);

  font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-web {
  color: rgba(33, 150, 243, 1);

  /* font-family: Raleway, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none; */
}

/* site nav */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link {
  color: rgba(0, 0, 0, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.link.current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  top: 45px;

  background: var(--accent-color);
  border-radius: 2px;
}

.site-nav {
  list-style: none;
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  color: rgba(117, 117, 117, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.border {
  border-bottom: 1px solid #ececec;
}

/* ------герой----------------------- */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero__title {
  color: var(--text-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  margin-bottom: 30px;
}
.hero__button {
  background: var(--secondary-color);
  color: var(--title-text-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  padding: 10px 32px;
  border: 0em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* ----------------приемущества ----------------*/

.advantages-list__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  margin-bottom: 10px;
}

.advantages-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.advantages-list {
  list-style: none;
  display: flex;
}
.advantages-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
}

.advantages-list__item {
  width: 270px;
}

.advantages-list__item + .advantages-list__item {
  margin-left: 30px;
}

/* -----------Чем мы занимаемся ----------------*/

.activity {
  padding-top: 0;
}

.activity__item {
  position: relative;
}

.activity__name {
  position: absolute;
  height: 70px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ---------------наша команда -------------------*/
.team {
  background-color: var(--secondary-color);
}

.team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}
.team__item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
  padding: 0;

  margin-bottom: 10px;
}

.team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 16px;
}

/*-----------social-network---------------*/
.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.social-network__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network__link:hover .social-network__icon,
.social-network__link:focus .social-network__icon {
  fill: var(--text-white-color);
}
.social-network__link:hover,
.social-network__link:focus {
  background-color: var(--accent-color);
  outline: none;
}

/*-------------- постоянные клиенты -------------------*/

.customer-list__item {
  width: 170px;
  height: 92px;
}

.customer-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list__icon {
  display: flex;
  justify-content: center;
  align-self: center;

  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list__link:hover,
.customer-list__link:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.customer-list__link:hover .customer-list__icon,
.customer-list__link:focus .customer-list__icon {
  fill: var(--accent-color);
}

/*------------------ footer------------------------- */
.footer {
  background-color: rgba(47, 48, 58, 1);
  font-size: 14px;
  line-height: 1.71;

  padding: 60px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-icon .item,
.item-form {
  color: var(--text-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer-icon .list {
  display: flex;
}

.footer-icon {
  margin-left: 70px;
}

.footer-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--accent-color);
}

.footer-list-icon:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--text-white-color);
}

/* fooer form */
.footer-form {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.label-form {
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;

  color: var(--text-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-send {
  fill: var(--text-white-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-text + .icon-send {
  margin-left: 10px;
}

.btn-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer-btn:hover,
.footer-btn:focus {
  color: var(--accent-color);
  background-color: var(--text-white-color);
  cursor: pointer;
  outline: none;
}

.footer-btn:hover .icon-send,
.footer-btn:focus .icon-send {
  fill: var(--accent-color);
  cursor: pointer;
}

/* footer logo */
.address {
  color: var(--text-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  margin-top: 20px;
  margin-bottom: 9px;
}

/* --------------portfolio------------------- */

.portfolio-btn {
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-btn__button {
  display: inline-block;

  background: var(--secondary-color);
  color: var(--title-text-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  text-decoration: none;

  border-radius: 4px;
  padding: 6px 22px;
  height: 38px;
  border: 0em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn__button:hover,
.portfolio-btn__button:focus {
  background: var(--accent-color);
  color: var(--text-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-btn__item + .portfolio-btn__item {
  margin-left: 8px;
}

.project-grid {
  list-style: none;

  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.project-grid__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
}
.project-grid__type {
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  padding: 0;

  margin-top: 4px;
}

.project-grid__project {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-grid__card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.project-grid__thumb {
  position: relative;
  overflow: hidden;
}

.project-grid__overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--text-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  height: 100%;
  width: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-grid__project:hover .project-grid__overlay {
  transform: translateY(0);
}
.project-grid__project:focus .project-grid__overlay {
  transform: translateY(0);
}

.project-grid__project:hover,
.project-grid__project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project-grid__item {
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
}

/* -------------Модальне вікно--------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;

  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.close-btn {
  position: absolute;
  color: rgba(0, 0, 0, 1);
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  right: 8px;
  top: 8px;
}

.close-btn:hover .close-btn__icon,
.close-btn:focus .close-btn__icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.close-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  margin: 0;
  padding: 0;

  margin-bottom: 12px;
}

/* --------modal form----------- */

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__label-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.modal__label-field + .modal__label-field {
  margin-top: 10px;
}
.modal__field-name {
  font-size: 12px;
  margin-bottom: 4px;
}
/* ------------------------------- */
.modal__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}
.modal__input:hover {
  cursor: pointer;
}
/* --------Focus ICON----------------------------- */
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
  cursor: pointer;
}

/* -------------------------------------------------- */
.modal__label-field:hover .modal__icon {
  cursor: pointer;
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: rgba(33, 33, 33, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ------------------------------- */
.modal__coment-input {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__coment-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal__coment-input:hover {
  cursor: pointer;
}

/*----------- checkbox----------- */
.modal__checkbox-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__checkbox-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal__checkbox:checked {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: none;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
}

.modal__checkbox-icon {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 15px;
  left: 0;

  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #000000;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:focus {
  outline: none;
}

.modal__checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
}

.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  background-image: url('../images/check.svg');
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  background-position: center;
  position: static;
  margin-right: 7px;
}

.modal__checkbox:focus + .modal__checkbox-icon {
  border-color: var(--accent-color);
}

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0em;
  margin-top: 30px;

  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--text-white-color);
  color: var(--accent-color);
  cursor: pointer;
  border: 5px solid var(--accent-color);
  outline: none;
}
